<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>

<body>
    <h1>Calculadora</h1>

    <!-- ACTION - PARA ONDE VAI
     FUNCTION - COMO ELES VÃO-->

    <FORM action="" method="POST">

        <label for="nome">Digite seu nome:</label>
        <input type="text" name="nome" id="nome">
        <BR></BR>

        <label for="numero1">Digite o Primeiro Número:</label>
        <input type="number" name="numero1" id="numero1">
        <BR></BR>

        <label for="numero2">Digite o Segundo Número:</label>
        <input type="number" step="0.01" name="numero2" id="numero2">
        <BR></BR>

        <button type="submit">Calcular</button>

        <label for="resposta">Resposta</label>

    </FORM>
</body>

</html>